body {
    background-color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-background {
    background-color: #333333;
}

.header {
    margin: 0;
    padding: 0;
    background: #333;
    height: auto;
    text-align: center;
}

.square {
    width: 25%;
    background: purple;
    padding-bottom: 25%;
    margin: 3%;
    border-radius: 25px;
    transition: background .3s;
    --webkit-transition: background .3s;
    --moz-transition: background .3s;
}

.heading-1 {
    font-size: 40px;
    color: white;
    margin: 0;
    padding: 40px;
    text-transform: uppercase;
}

.colorDisplay {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    border: 1px solid currentColor;
    color: #B6E002;
    padding: 0 40px;
    margin: 0;
}

.heading-2 {
    font-size: 40px;
    color: white;
    margin: 0;
    padding: 40px;
    text-transform: uppercase;
}

.panel {
    margin: 0;
    padding: 0;
    background: #AA076B;
    min-height: 50px;

}

.display-box {
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.message {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.btn {
    border: none;
    outline: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #99C432;
    text-align: left;
    text-transform: uppercase;
}

.btn:hover {
    color: white;
    background-color: #77c46a;
    animation: buttonUp 200ms;
}

.button1 {

}

.buttons {
    right: 0;
}

.selected {
    background: darkslateblue;
}

@keyframes buttonUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}